In [2]:
#Importing PYTHON-SQL Connector
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\piyush goyal\appdata\local\pypa\virtualenv\env\lib\site-packages (8.3.0)

In [3]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', user = 'root', password = '98765')
print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E991ECFBD0>

Creating a Database

In [13]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', user = 'root', password = '98765')
new_cursor = new_db.cursor()
new_cursor.execute("CREATE DATABASE newdata")

DatabaseError: 1007 (HY000): Can't create database 'newdata'; database exists

Check if Database Existis:
#1 is use "SHOWDATABASES" keyword inside execute statement shows the list od databases check there! 
#2 is to use "database =" argument while making an connection using the arguement or parameter if it works the database exists

In [10]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', user = 'root', password = '98765')
new_cursor = new_db.cursor()
new_cursor.execute("SHOW DATABASES")

for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [19]:
import mysql.connector

new_db = mysql.connector.connect(
    host = 'localhost', 
    user = 'root', 
    password = '98765',
    database = 'newdata'
    )

CREATING A TABLE

In [20]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', user = 'root', password = '98765',database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))")

LISTING THE TABLES

In [24]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', 
                                 user = 'root', 
                                 password = '98765', 
                                 database = "newdata")
new_cursor = new_db.cursor()
new_cursor.execute("SHOW TABLES")

for i in new_cursor:
    print(i)

('students',)

Primary Key when creating a Table using CREATE AND PRIMARY

In [25]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', 
                                 user = 'root', 
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("CREATE TABLE clients (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

Primary Key when a Table already Exists using ALTER AND PRIMARY and ADD COLUMN

In [26]:
import mysql.connector

new_db = mysql.connector.connect(host = 'localhost', 
                                 user = 'root', 
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

Insert Data in table using INSERT INTO command

In [33]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = 'INSERT INTO students (name, code) VALUES (%s, %s)'
new_vals = ('Ronaldo', 'CODE12')

new_cursor.execute(new_sql, new_vals)

new_db.commit() #use database connection variable to commit changes
print(new_cursor.rowcount, "new records inserted")

1 new records inserted

Inserting Multiple Values using INSERT INTO and EXECUTEMANY commands

In [34]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = 'INSERT INTO students (name, code) VALUES (%s, %s)'
new_vals = [ ('Messi', 'CODE30'),
             ('Pobga', 'CODE06'),
             ('SALAH', 'CODE11'),
             ('Someone', 'CODE10') ] 

new_cursor.executemany(new_sql, new_vals)

new_db.commit() #use database connection variable to commit changes
print(new_cursor.rowcount, "new records inserted")

4 new records inserted

SELECT & FETCHALL method

In [36]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchall() #used for storing the retreived data

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)
('Messi', 'CODE30', 3)
('Pobga', 'CODE06', 4)
('SALAH', 'CODE11', 5)
('Someone', 'CODE10', 6)

SELECT used with specific COLUMNS

In [17]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("SELECT name,code FROM students")

new_data = new_cursor.fetchall() #used for storing the retreived data

for x in new_data:
    print(x)

('Ronaldo', 'CODE12')
('Messi', 'CODE30')
('Pobga', 'CODE06')
('SALAH', 'CODE11')
('Someone', 'CODE10')
('Someone', 'CODE10')

FETCHONE

In [38]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("SELECT * FROM students")

new_data = new_cursor.fetchone() #used for storing the retreived data

for x in new_data:
    print(x)

Ronaldo
CODE12
1

Filtering Using WHERE

In [41]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "SELECT * FROM students WHERE name = 'Ronaldo'"
new_cursor.execute(new_sql)
new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Ronaldo', 'CODE12', 1)

Using Wildacrds in SQL eg: LIKE,%

In [6]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "SELECT * FROM students WHERE name LIKE '%Ron%'"
new_cursor.execute(new_sql)
new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Ronaldo', 'CODE12', 1)

Sorting Data using ORDER BY

In [7]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "SELECT * FROM students ORDER BY name"
new_cursor.execute(new_sql)
new_data = new_cursor.fetchall()

for i in new_data:
    print(i)

('Messi', 'CODE30', 3)
('Pobga', 'CODE06', 4)
('Ronaldo', 'CODE12', 1)
('SALAH', 'CODE11', 5)
('Someone', 'CODE10', 6)

DELETE FROM statement 
importing, displaying, DELETEING, re-adding #reveisoon as well!

In [8]:
#first adding duplicate rows
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = 'INSERT INTO students (name, code) VALUES (%s, %s)'
new_vals = ('Someone', 'CODE10') 

new_cursor.execute(new_sql, new_vals)

new_db.commit() #use database connection variable to commit changes
print(new_cursor.rowcount, "new records inserted")

1 new records inserted

In [70]:
#displaying the data
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = 'SELECT * FROM students'
new_cursor.execute(new_sql)
new_data = new_cursor.fetchall() #used for storing the retreived data

for x in new_data:
    print(x)

('Ronaldo', 'CODE07', 1)
('Messi', 'CODE30', 3)
('Pobga', 'CODE06', 4)
('SALAH', 'CODE11', 5)
('Someone', 'CODE10', 8)

In [35]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_cursor.execute("DELETE FROM students WHERE code = 'CODE10'")
new_db.commit() #use database connection variable to commit changes
print(new_cursor.rowcount, "new records Deleted from newdata")

0 new records inserted

PREVENTING SQL INJECTION while Deleting using placeholder "%s"

In [41]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
newsql = "DELETE FROM students WHERE name = %s"
name = (nameofstudent in a tuple,)
new_cursor.execute(newsql,name)
new_db.commit() #use database connection variable to commit changes
print(new_cursor.rowcount, "new records Deleted from newdata")

0 new records Deleted from newdata

Deleting table using DROP TABLE and IF EXISTS (for error handling)

In [50]:
#no need for commit
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
deletestatement = "DROP TABLE IF EXISTS clients"
new_cursor.execute(deletestatement)

print("table dropped")

0 tables dropped

UPDATE SET WHERE #make sure to where else every rows or cols will be affected

In [76]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "UPDATE students SET code = %s WHERE code = %s"
new_vals = ('CODE07', 'CODE13')
new_cursor.execute(new_sql,new_vals)
new_db.commit()

print(new_cursor.rowcount, "records updated")

1 records updated

LIMIT

In [78]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "SELECT * FROM students LIMIT 4"
new_cursor.execute(new_sql)

newdata = new_cursor.fetchall()
[print(i) for i in newdata]

('Ronaldo', 'CODE07', 1)
('Messi', 'CODE30', 3)
('Pobga', 'CODE06', 4)
('SALAH', 'CODE11', 5)

[None, None, None, None]

LIMIT & OFFSET

In [79]:
import mysql.connector

new_db = mysql.connector.connect(host="localhost",
                                 user = 'root',
                                 password = '98765',
                                 database = 'newdata')
new_cursor = new_db.cursor()
new_sql = "SELECT * FROM students LIMIT 4 OFFSET 3"
new_cursor.execute(new_sql)

newdata = new_cursor.fetchall()
[print(i) for i in newdata]

('SALAH', 'CODE11', 5)
('Someone', 'CODE10', 8)

[None, None]